
#contentbox {
  background-image: url("../public/assets/aboutborder2.png");
  background-repeat: no-repeat;
  width: 545px;
  height: 385px;
  position: relative;
  z-index: 2;
  
}

#content {
  width: 52%;
  height: 59%;
  font-size: 14px;
  text-align: justify;
  padding-top: 2%;
}

.scrollable-div-about {
  height: 120%;
  overflow: auto;
  margin: 20px;
  text-align: justify;
  padding: 15px;
}


#video-game{
  text-align: justify;
  padding-top: 2%;
}
