
#contentbox {
  background-image: url("../public/assets/aboutborder.png");
  background-repeat: no-repeat;
  width: 545px;
  height: 385px;
}

#content {
  width: 67.5%;
  height: 59%;
  font-size: 14px;
  text-align: justify;
  padding-top: 2%;
}

.scrollable-div-about {
  height: 78%;
  overflow: auto;
  margin: 20px;
  text-align: justify;
  padding: 20px;
}

#about-me{
    padding-left: 15%;
}


#video-game{
  text-align: justify;
  padding-top: 2%;
}
