body{
  background-color: rgb(231, 212, 240);
}

.footer{
  height: 44px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 12;
}

.txt{
  position: fixed;
  right: 32px;
  bottom: 8px;
  z-index: 12;
  font-size: 14px;
  color: #000690;
}

/* .footer-right{
  height: 0px;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 11;
  border-image: url("/public/assets/time.png");
  border-width: 21.5px 120px 22px 6px;
  border-image-slice: 22 120 22 6;
  border-style: solid;
} */