body{
  background-color: rgb(231, 212, 240);
}

 
.nav-icon-border {
  position: absolute;
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  left: 2%;
  top: 2%;
}

#nav-img{
  width: 80%;
}

.nav-icon-border a{
  text-decoration: none;
  padding-left: 18%;
  padding-top: 5%;
  
}


.footer{
  height: 44px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 12;
}

#time{
  position: fixed;
  right: 1.9%;
  bottom: -0.5%;
  z-index: 12;
  font-size: 16px;
  color: #000690;
}

.footer-right{
  height: 0px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 11;
  border-image: url("/public/assets/time.png");
  border-width: 21.5px 120px 22px 6px;
  border-image-slice: 22 120 22 6;
  border-style: solid;
}