#border-me{
    background-image: url(./../public/assets/helloborder.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 2%;
    left: 28%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#hello{
    background-image: url(./../public/assets/homeicon\ copy.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 180px;
    position: absolute;
    top: 71%;
    left: 57%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#hi{
    font-size: larger;
    padding-top: 10%;
    padding-left: 10%;
}

#border-leeroy{
    background-image: url(./../public/assets/leeroyborder.png);
    background-repeat: no-repeat;
    width: 180px;
    height: 200px;
    position: absolute;
    top: 39%;
    left: 35%;
    cursor: pointer;
    z-index: 1;
}

#leeroy{
    background-image: url(./../public/assets/leeroy.png);
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 70%;
    left: 87%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#hi-leeroy{
    font-size: 10px;
    padding: 10%;
}



#link-border{
    background-image: url(./../public/assets/linksborder.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 300px;
    position: absolute;
    top: 55%;
    left: 3%;
    cursor: pointer;
    z-index: 1;
}

#links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;
}

#links a{
    text-decoration: none;
    font-size: larger;
    font-weight: 600;

}

a:hover{
    color: #f8b4aa
}

a:visited{
    color: #4e4d65
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25%;
    margin: 0;
}

.icons img{
    width: 12%;
}

/* Styling for desktop */

@media only screen and (min-width:992px) {

    #border-me{
        
        top: 5%;
        left: 52%;
    
    }

    #hello{
    
        top: 71%;
        left: 57%;
    }
       

    #link-border{
        top: 30%;
        left: 30%;
        
    }
    
    #border-leeroy{
        
        top: 10%;
        left: 35%;
       
    }
    
    
}