#border-me{
    background-image: url(./../public/assets/helloborder.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 5%;
    left: 52%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#hello{
    background-image: url(./../public/assets/homeicon\ copy.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 180px;
    position: absolute;
    top: 71%;
    left: 57%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#hi{
    font-size: larger;
    padding-top: 10%;
    padding-left: 10%;
}

#link-border{
    background-image: url(./../public/assets/linksborder.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 30%;
    cursor: pointer;
    z-index: 1;
}

#links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2%;
}

#links a{
    text-decoration: none;
    font-size: larger;
    font-weight: 600;

}

a:hover{
    color: #f8b4aa
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25%;
    margin: 0;
}

.icons img{
    width: 12%;
}

