#contentbox-projects {
  background-image: url("../public/assets/projectsborder1.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 380px;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 40%;
}

#content-projects {
  width: 100%;
  height: 40%;
  font-size: 14px;
  text-align: justify;
  padding-top: 5%;
  margin: 0%;
}

.scrollable-div {
    height: 245px;
    overflow: auto;
    margin: 10px;
    text-align: justify;
    padding: 10px;
    padding-top: 2%;
  }


#bottom-border{
    color: #f08080;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-img{
    padding-left: 5%;
    padding-top: 4%;
    margin: 0;
}

#project-img-r{
    padding-right: 5%;
    padding-top: 4%;
    margin: 0;
}

#project-img img{
    border-radius: 50%;
}

#project-img-r img{
    border-radius: 50%;
}

#Ehome{
    width: 30%;
    margin: 0 0 0 1%;
    padding: 0;
    float:left;
}

#Ehome-r{
    width: 30%;
    margin: 0 0 0 1%;
    float: right;
}

#txt-project{
    margin-left: 35% ;
    margin-top: 5%;
}

#txt-project-r{
    margin-right: 35% ;
    margin-top: 5%;
}

